<div class="modal_box">
    <div class="f-title">
        Удалить пользователя
    </div>
    <div>
      {{> Input 
        type="text" 
        label="Логин" 
        id="login" 
        name="login" 
        maxLength="35"
      }}
    </div>
    {{> Button 
        label="Удалить" 
        onClick="(alert(5))" 
    }}
</div>
