<div class="modal_box">
    <div class="f-title">
        Загрузите файл
    </div>
    <div class="f-normal f-link">
        Выбрать файл на компьютере
    </div>
    <div class="f-light f-red">
        Нужно выбрать файл
    </div>
    {{> Button 
        label="Поменять" 
        onClick="(alert(2))" 
    }}
</div>
