.modal {
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000a0;
}

.modal_box {
    top: calc(50% - 200px);
    left: calc(50% - 170px);
    z-index: 1000;
    position: absolute;
    width: 340px;
    height: 257px;
    background: var(--color-white);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
