<div class="text-field text-field_floating-3 {{#if error}}error-input{{/if}}">
  {{{Input}}}
  <label class="text-field__label ">{{label}}</label>
  {{#if error}}
    <div class="error-message">{{error}}</div>
  {{/if}}
</div>
