.PrimaryLayout {
    position: relative;
    &__content {
        height: 100vh;
        margin: 0 auto;
        background: url("../../assets/images/pineapple.jpg") no-repeat center;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        -khtml-background-size: cover;
        background-size: cover;
        object-fit: cover;
        position: relative;
        max-width: 1700px;
        & > :nth-child(1) {
            position: absolute;
            right: 50px;
            top: 0;
            bottom: 0;
            margin: auto 0;
        }
    }
}
