.button-menu {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 10px;
    transition: 0.2s background-color;
    &:hover {
        background-color: var(--color-hover);
        & li {
            background-color: var(--color-blue);
        }
    }
    & > :not(:last-child) {
        margin-bottom: 3px;
    }
    & li {
        background-color: var(--color-black);
        height: 3px;
        width: 3px;
        min-width: 3px;
        min-height: 3px;
        max-height: 3px;
        max-width: 3px;
        border-radius: 50px;
    }
}
