<html lang="ru">
    <main class="profileLayout">
        <div class="page_profile">
            {{{LinkBack}}}
            {{#if isLoading}}
                <div class="isLoading">
                    Loading...
                </div>
            {{else}}
                {{{BodyProfile}}}
            {{/if}}
        </div>
    </main>
</html>