<div class="button_default">
  Профиль
  <svg
    width="16"
    height="10"
    viewBox="0 0 6 10"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M1 9C2.5621 7.4379 3.4379 6.5621 5 5C3.4379 3.4379 2.5621 2.5621 1 1"
      stroke="#999999"
    ></path>
  </svg>
</div>
