{{#extend "ProfileLayout"}}
  {{#content body}}
  <div class="page_error">
    <span class="f-big">
      500
    </span>
    <span class="f-header error_message">
      Мы уже фиксим
    </span>
    <div class="error_next">
      {{> Button 
        label="Назад к чатам" 
        onClick="goToPage('login')" 
        className="btn-white"
      }}
    </div>
  </div>
  {{/content}}
{{/extend}}
