<div class="modal_box">
    <div class="f-title f-red">
        Ошибка, попробуйте ещё раз
    </div>
    <div class="f-light f-link">
        Выбрать файл на компьютере
    </div>
    {{> Button 
        label="Поменять" 
        onClick="(alert(1))" 
    }}
</div>
