{{#if state}}
  <div>
    {{{ModalWindowBack}}}
    <div class="modal_box">
      <div class="f-title">Файл загружен</div>
      <div class="f-normal f-silver">pic.jpg</div>
      {{{Button}}}
    </div>
  </div>
{{/if}}
