.body_profile {
    height: 100vh;
    cursor: default;
    width: 100%;
    margin: 0 auto;
    max-width: 510px;
    display: flex;
    align-items: center;
    flex-direction: column;
    &-photo {
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-username {
        padding-top: 20px;
        height: 90px;
    }
    &-edit {
        margin-top: 60px;
        min-height: 80px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & > :not(:last-child) {
            border-bottom: 1px var(--color-line) solid;
        }
    }
}

.form__profile {
    width: 100%;
    & > :not(:last-child) {
        border-bottom: 1px var(--color-line) solid;
    }

    &_row {
        & :nth-child(2) {
            color: var(--color-darken);
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 34px;
    }
}

.btn-edit {
    cursor: pointer;
    padding: 7px 0;
    margin: 3px 0;
    color: var(--color-blue);
}

.btn-exit {
    cursor: pointer;
    padding: 7px 0;
    color: var(--color-red);
    border: none;
    background-color: var(--color-white);
    display: flex;
    justify-content: flex-start;
}
