{{#if state}}
  <div>
    {{{ModalWindowBack}}}
    <div class="modal_box">
      <div class="f-title">Удалить пользователя</div>
      <div class="input_login">{{{Login}}}</div>
      {{{Button}}}
    </div>
  </div>
{{/if}}
