<div class="head_bar">
  <div class="head_bar-user">
    <div class="head_bar-avatar">
        {{!-- {{avatar}} --}}
    </div>
    <div class="head_bar-username f-bold">
        {{display_name}}
    </div>
  </div>
  <ul class="head_bar-options">
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
