:root {
  --color-red: #ff2f2f;
  --color-blue: #4969ef;
  --color-blue-light: #e4edfd;
  --color-black: #1e1e1e;
  --color-white: #ffffff;
  --color-darken: #999999;
  --color-noactive: #f8f8f8;
  --color-default: #fbfbfb;
  --color-line: #eaeaea;
  --color-avatar: #efefef;
  --color-hover: #f5f5f5;
  --color-silver: #8D8D8D;
}
