.f-big {
  font-size: 40px;
  line-height: 40px;
}

.f-header {
  font-size: 20px;
  line-height: 20px;
}

.f-title-bold {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}

.f-title {
  font-size: 15px;
  line-height: 20px;
}

.f-normal {
  font-size: 13px;
  line-height: 13px;
}

.f-bold {
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
}

.f-light {
  font-size: 12px;
  line-height: 15px;
}

.f-mini {
  font-size: 9px;
  line-height: 13px;
}

.f-red {
  color: var(--color-red);
}

.f-silver {
  color: var(--color-silver);
}

.f-link {
  color: var(--color-blue);
  text-decoration: underline;
}

.f-center {
  display: flex;
  text-align: center;
}
@font-face {
  font-family: "Inter-Regular";
  src: url("../../../src/assets/fonts/Inter-Regular.eot");
  src: local("Inter-Regular"), local("Inter-Regular"),
    url("../../../src/assets/fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"),
    url("../../../src/assets/fonts/Inter-Regular.woff2") format("woff2"),
    url("../../../src/assets/fonts/Inter-Regular.woff") format("woff"),
    url("../../../src/assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
