@import "./reset.scss";
@import "./_vars.scss";
@import "./fonts.scss";
@import "./pages/error.scss";
@import "./pages/login.scss";
@import "./pages/home.scss";
@import "./pages/profile.scss";
@import "./pages/modals.scss";
@import "./pages/registration.scss";
@import "./pages/message.scss";
@import "../../layouts/index.scss";
@import "../../common/index.scss";
@import "../../ui/index.scss";

.border {
  border: red solid;
  width: 50px;
  height: 50px;
  background-color: blue;
}
body {
  font-family: Inter-Regular, sans-serif;
  font-weight: 500;
  color: var(--color-black);
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  background-color: var(--color-white);
}

.btn-white {
  background-color: var(--color-white);
  color: var(--color-blue);
}
* {
  box-sizing: border-box;
}

.textNoSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line_x {
  width: 100%;
  max-width: calc(100% - 20px);
  height: 1px;
  background-color: var(--color-line);
  border-radius: 50px;
  margin-left: 10px;
  &-op {
    padding: 0 20px;
    width: 100%;
    height: 1px;
    background-color: var(--color-line);
  }
}
.center {
  display: flex;
  align-items: center;
}

.m-auto {
  margin: 0 auto;
}
.container_flex {
  display: flex;
}

input:active,
input:hover,
input:focus,
button:hover,
button:focus,
button:active {
  outline: 0;
  outline-offset: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-width: 768px) and (max-width: 1024px) {
  input,
  textarea,
  select select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 767px) {
  input,
  textarea,
  select,
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}
