<div class="attach_message">
  {{{ButtonAttach}}}
  {{#if stateOpen}}
    <div class="attach_menu f-normal">
      {{{ButtonImages}}}
      {{{ButtonFile}}}
      {{{ButtonLocations}}}
    </div>
  {{/if}}
</div>
