{{#extend "ProfileLayout"}}
  {{#content body}}
    <div class="page_error">
      <span class="f-big">
        404
      </span>
      <span class="f-header error_message">
        Не туда попали
      </span>
      <div class="error_next">
        {{{buttonBack}}}
      </div>
    </div>
  {{/content}}
{{/extend}}
